{% extends 'ladingpage-base.html' %}

{% block content %}
        <section class="container-fluid p-5 about-us d-flex full-height h-100">
                <h1>Chegamos para facilitar</h1>
                <p>
                    A <span>TechTrek</span> é uma startup de tecnologia brasileira, com   orgulho de ser nordestina. Nascemos com um propósito claro de levar tecnologia, gestão e simplicidade para pequenos e médios empreendedores, ajudando-os a otimizar seus processos e crescer de forma sustentável.
                </p>

                <p>
                    Nosso produto, o <span>Project Money Trek</span>, é um sistema inovador de gestão financeira em nuvem, desenvolvido especialmente para escritórios de engenharia e arquitetura. Com foco na personalização e na facilidade de uso, buscamos transformar a forma como esses profissionais gerenciam suas finanças, trazendo mais eficiência e controle para o dia a dia de seus negócios.
                </p>
                    
                <p>
                    Na TechTrek, acreditamos no poder da tecnologia para simplificar a vida dos empreendedores e permitir que eles se concentrem no que realmente importa: o crescimento de suas empresas.
                </p>

        </section>
{% endblock %}