
{% extends 'ladingpage-base.html' %}

{% block content %}
        <section class="container-fluid p-0 home">
            <div class="container-fluid full-height d-flex align-items-stretch p-0">
                <div class="p-0 image-container">
                    <img class="main-image" src="{{ url_for('static', filename='images/photo-project-and-hands.jpeg') }}" alt="Foto de um projeto impresso e mãos humanas.">
                    <div class="overlay"></div>
                    <div class="text-overlay">
                        <h1>Foque no que realmente importa</h1>
                        <p>Sem perder o <span>dinheiro</span> de vista</p>
                        <a class="btn  btn-lg btn-outline-success" href="/">Saber mais</a>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}