{% extends 'ladingpage-base.html' %}
{% block title %}Despesas{% endblock %}

{% block content %}
            <div class="container mt-5 form-login">
                <div class="container rounded p-3 border">
                    <form>
                        <div class="container p-0 mt-3 d-flex justify-content-center">
                            <img class="mb-4 logo-login" src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
                            
                        </div>
                        <h1 class="h3 mb-3 fw-normal">Recuperação de senha</h1>
                        <div class="form-floating mb-2">
                          <input type="email" class="form-control" id="floatingInput" placeholder="nome@exemplo.com">
                          <label for="floatingInput">Email</label>
                        </div>
                    
                        <button class="btn btn-primary w-100 py-2" type="submit">Enviar</button>
                      </form>
                </div>
            </div>

{% endblock %}